{% extends 'base.html' %}
{% block title %} {{ object.title }} {% endblock %}
{% block content %}
<h3>{{ object.title }}</h3>

<ul>
 
        <p>{{ object.text }}</p>
        <p>{{ object.created }}</p>

        <a href="{% url 'comment-create' object.id %}">comment this</a>

        {% for comment in object.comment_set.all %}
            <li><p><i>{{ comment.user.username }}:</i> {{ comment.text }}</p></li>
        {% endfor %}

</ul>
<a href="{% url 'post-list' object.blog.user.username %}">back</a>

{% endblock %}
